<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button></button>
          <mat-icon>Menu</mat-icon>

          <span>App Logo</span>
        <div fxFlex fxLayout ="row" fxLayoutAlign = "flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
            <li>
              <button mat-icon-button>
                <mat-icon>Settings</mat-icon>
              </button>
            </li>
            <li>
                <button mat-icon-button>
                  <mat-icon>Help-Outline</mat-icon>
                </button>
              </li>
              <li>
                Menu
              </li>
          </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
